<?xml version="1.0" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rarm_5" xmlns:xacro="http://ros.org/wiki/xacro">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0014586 0.038724 -0.0014254"
        rpy="0 0 0" />
      <mass
        value="500.7738" />
      
      <inertia
        ixx="3.6438"
        ixy="-0.0034695"
        ixz="-0.079994"
        iyy="6.6456"
        iyz="0.0041166"
        izz="3.6402" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-5.37416289508109E-19 0.0771926574853569 7.00099440433743E-05"
        rpy="0 0 0" />
      <mass
        value="2.01930841887198" />
      <inertia
        ixx="0.0108609714077271"
        ixy="1.02408886011036E-19"
        ixz="7.45667383070994E-18"
        iyy="0.00611493033722615"
        iyz="-1.69373640190559E-05"
        izz="0.0129475960451015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="continuous">
    <origin
      xyz="0 0 0.085"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.147519417302749 0.03639162025911 -7.14333654683319E-06"
        rpy="0 0 0" />
      <mass
        value="0.975092510417781" />
      <inertia
        ixx="0.000519439092240679"
        ixy="-1.16666397391912E-05"
        ixz="8.22567480227939E-07"
        iyy="0.0184857161334767"
        iyz="-5.53470908233681E-09"
        izz="0.0182500703021767" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="continuous">
    <origin
      xyz="0 0.197 0"
      rpy="-1.5708 0 0.034375" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0178273089131215 5.55111512312578E-17 0.0686470827065745"
        rpy="0 0 0" />
      <mass
        value="1.18778339146205" />
      <inertia
        ixx="0.00676255015367542"
        ixy="7.24009476197458E-19"
        ixz="2.50709041610339E-05"
        iyy="0.00656224051395063"
        iyz="-1.22829366147233E-18"
        izz="0.00107793044902673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="continuous">
    <origin
      xyz="-0.35 0 0"
      rpy="-0.034375 0 -1.5708" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-1.16132938658003E-07 9.97583870560037E-06 -0.0845600669014313"
        rpy="0 0 0" />
      <mass
        value="0.495448882545272" />
      <inertia
        ixx="0.00118796219019531"
        ixy="-1.31446818454151E-09"
        ixz="4.94803142614004E-12"
        iyy="0.00134297831786462"
        iyz="1.95357718983361E-07"
        izz="0.000508458232828052" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="continuous">
    <origin
      xyz="0.0175 0 0.23901"
      rpy="3.1416 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="1.80411241501588E-16 -0.0642690332707808 0"
        rpy="0 0 0" />
      <mass
        value="0.401410314569836" />
      <inertia
        ixx="0.000629596416761818"
        ixy="1.00437320772816E-18"
        ixz="2.56977183784638E-21"
        iyy="0.000255850806509199"
        iyz="-5.6175525267839E-20"
        izz="0.000633125046634634" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rarm_5/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="continuous">
    <origin
      xyz="0 0 -0.135"
      rpy="3.1416 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="1 0 0" />
  </joint>

   <ros2_control name="GazeboSystem" type="system">
 <hardware>
     <plugin>gazebo_ros2_control/GazeboSystem</plugin>
 </hardware>
 # Velocity Controllers

 <joint name="joint_1">
     <command_interface name="velocity">
         <param name="min">-1000.0</param>
         <param name="max">1000.0</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

 <joint name="joint_2">
     <command_interface name="velocity">
         <param name="min">-1000.0</param>
         <param name="max">1000.0</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

 <joint name="joint_3">
     <command_interface name="velocity">
         <param name="min">-1000.0</param>
         <param name="max">1000.0</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

 <joint name="joint_4">
     <command_interface name="velocity">
         <param name="min">-1000.0</param>
         <param name="max">1000.0</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

 <joint name="joint_5">
     <command_interface name="velocity">
         <param name="min">-1000.0</param>
         <param name="max">1000.0</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

# Position Controller
 <joint name="joint_1">
     <command_interface name="position">
         <param name="min">-3.14</param>
         <param name="max">3.14</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

  <joint name="joint_2">
     <command_interface name="position">
         <param name="min">-3.14</param>
         <param name="max">3.14</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

  <joint name="joint_3">
     <command_interface name="position">
         <param name="min">-3.14</param>
         <param name="max">3.14</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

  <joint name="joint_4">
     <command_interface name="position">
         <param name="min">-3.14</param>
         <param name="max">3.14</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

  <joint name="joint_5">
     <command_interface name="position">
         <param name="min">-3.14</param>
         <param name="max">3.14</param>
     </command_interface>
     <state_interface name="position"/>
     <state_interface name="velocity"/>
 </joint>

 </ros2_control>

 <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find rarm_5)/config/control.yaml</parameters>
    </plugin>
 </gazebo>
</robot>